*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Mod3/Ejercicio1/ServicioWebBienvenida/nbproject/private/
/Mod3/Ejercicio1/ServicioWebBienvenida/build/
/Mod3/Ejercicio1/ClienteServicioWeb/nbproject/private/
/Mod3/Ejercicio1/ClienteServicioWeb/build/
/Mod3/Ejercicio2/ServicioWebDniCheck/nbproject/private/
/Mod3/Ejercicio2/ServicioWebDniCheck/build/
/Mod3/Ejercicio3/ClienteGlobalWeather/nbproject/private/
/Mod3/Ejercicio3/ClienteGlobalWeather/build/
/Mod3/Ejercicio1/ClienteServicioWeb/dist/
/Mod3/Ejercicio3/ClienteGlobalWeather/dist/
/Mod3/Ejercicio4/ClientGeoIpService/nbproject/private/
/Mod3/Ejercicio4/ClientGeoIpService/build/
/Mod3/Ejercicio4/ClientGeoIpService/dist/